SUBVORTEX_NETUID=7
SUBVORTEX_SUBTENSOR_NETWORK=finney
SUBVORTEX_SUBTENSOR_CHAIN_ENDPOINT=
SUBVORTEX_DATABASE_HOST=localhost
SUBVORTEX_DATABASE_PORT=6379
SUBVORTEX_DATABASE_INDEX=0
SUBVORTEX_DATABASE_PASSWORD=
SUBVORTEX_LOGGING_DEBUG=True