SUBVORTEX_WALLET_NAME=validator
SUBVORTEX_WALLET_HOTKEY=default
SUBVORTEX_NETUID=7
SUBVORTEX_AXON_IP=127.0.0.1
SUBVORTEX_AXON_PORT=8091
SUBVORTEX_AXON_EXTERNAL_PORT=8091
SUBVORTEX_SUBTENSOR_NETWORK=finney
SUBVORTEX_REDIS_HOST=localhost
SUBVORTEX_REDIS_PASSWORD=
SUBVORTEX_REDIS_PORT=6379
SUBVORTEX_REDIS_INDEX=0
SUBVORTEX_LOGGING_DEBUG=True