SUBVORTEX_WALLET_NAME=validator
SUBVORTEX_WALLET_HOTKEY=default
SUBVORTEX_NETUID=7
SUBVORTEX_AXON_IP=127.0.0.1
SUBVORTEX_AXON_PORT=7091
SUBVORTEX_AXON_EXTERNAL_PORT=8091
SUBVORTEX_SUBTENSOR_NETWORK=finney
SUBVORTEX_DATABASE_HOST=localhost
SUBVORTEX_DATABASE_PASSWORD=
SUBVORTEX_DATABASE_PORT=6379
SUBVORTEX_DATABASE_INDEX=0
SUBVORTEX_LOGGING_DEBUG=True