[Unit]
Description=SubVortex Validator Neuron
After=network.target

[Service]
Type=simple
EnvironmentFile=<WORKING_DIR>/subvortex/validator/neuron/.env
ExecStart=<WORKING_DIR>/subvortex/validator/neuron/venv/bin/python3 -m subvortex.validator.neuron.src.main
Restart=on-failure
RestartSec=10s
User=subvortex
Group=subvortex
WorkingDirectory=<WORKING_DIR>/subvortex/validator/neuron
StandardOutput=append:/var/log/subvortex-validator/subvortex-validator-neuron.log
StandardError=append:/var/log/subvortex-validator/subvortex-validator-neuron-error.log

UMask=007
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=true
LimitNOFILE=65535

ReadWriteDirectories=-/var/log/subvortex-validator
RuntimeDirectory=subvortex-validator
RuntimeDirectoryMode=2755

[Install]
WantedBy=multi-user.target
Alias=subvortex-validator-neuron.service