SUBVORTEX_WALLET_NAME=miner
SUBVORTEX_WALLET_HOTKEY=default
SUBVORTEX_NETUID=7
SUBVORTEX_AXON_IP=127.0.0.1
SUBVORTEX_AXON_PORT=8091
SUBVORTEX_AXON_EXTERNAL_PORT=8091
SUBVORTEX_SUBTENSOR_NETWORK=local
SUBVORTEX_LOGGING_DEBUG=True