bittensor==9.10.0
bittensor-wallet==4.0.0
loguru==0.7.0
netfilterqueue==1.1.0; sys_platform == 'linux'
numpy==2.0.1
pydantic==2.8.2
python-dotenv==1.0.1
redis==5.0.1
setuptools==70.0.0
substrate_interface==1.7.9
tomli==2.2.1