SUBVORTEX_NETUID=7
SUBVORTEX_SUBTENSOR_NETWORK=local
SUBVORTEX_SUBTENSOR_CHAIN_ENDPOINT=
SUBVORTEX_REDIS_HOST=localhost
SUBVORTEX_REDIS_PORT=6379
SUBVORTEX_REDIS_INDEX=0
SUBVORTEX_REDIS_PASSWORD=
SUBVORTEX_LOGGING_DEBUG=True