[Unit]
Description=SubVortex Miner Neuron
After=network.target

[Service]
Type=simple
EnvironmentFile=<WORKING_DIR>/subvortex/miner/neuron/.env
ExecStart=<WORKING_DIR>/subvortex/miner/neuron/venv/bin/python3 -m subvortex.miner.neuron.src.main
Restart=on-failure
RestartSec=10s
User=root
Group=root
WorkingDirectory=<WORKING_DIR>/subvortex/miner/neuron
StandardOutput=append:/var/log/subvortex-miner/subvortex-miner-neuron.log
StandardError=append:/var/log/subvortex-miner/subvortex-miner-neuron-error.log

UMask=007
RuntimeDirectory=subvortex-miner
RuntimeDirectoryMode=2755

# Security
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ReadWriteDirectories=-/var/log/subvortex-miner
ReadWriteDirectories=-/run/subvortex-miner

NoNewPrivileges=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true

[Install]
WantedBy=multi-user.target
Alias=subvortex-miner-neuron.service