[Unit]
Description=SubVortex Miner Metagraph
After=network.target

[Service]
Type=simple
EnvironmentFile=<WORKING_DIR>/subvortex/miner/metagraph/.env
ExecStart=<WORKING_DIR>/subvortex/miner/metagraph/venv/bin/python3 -m subvortex.miner.metagraph.src.main
Restart=on-failure
RestartSec=10s
User=root
Group=root
WorkingDirectory=<WORKING_DIR>/subvortex/miner/metagraph
StandardOutput=append:/var/log/subvortex-miner/subvortex-miner-metagraph.log
StandardError=append:/var/log/subvortex-miner/subvortex-miner-metagraph-error.log

UMask=007
RuntimeDirectory=subvortex-miner
RuntimeDirectoryMode=2755

# Security
PrivateDevices=yes
ProtectSystem=full
ReadWriteDirectories=-/var/log/subvortex-miner
ReadWriteDirectories=-/run/subvortex-miner

NoNewPrivileges=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true

[Install]
WantedBy=multi-user.target
Alias=subvortex-miner-metagraph.service